/* Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header {
  padding: 0 45px;
  background-color: #b35c75;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav links */
.nav {
  list-style: none;
  display: flex;
}
.nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}
.nav a:hover {
  color: #c5cae9;
  transform: rotate(6deg);
}
.nav li {
  margin-left: 20px;
}

/* HERO */
.hero {
  background-color: #ffd9e4;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.hero-inner {
  max-width: 760px;
}

.hero h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.hero-btn {
  background-color: #b35c75;
  font-size: 1.18rem;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
}
